html{box-sizing: border-box;}
*, *:before, *:after {
  box-sizing: inherit;
}



.logo{
    display: inline-block;
    height: 70px;
    margin-top: -15px;
    margin-bottom: 15px;
}

.nav, .nav-pills {
    margin-top: 10px;
    text-align: center;
/*
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 700px;
*/
/*    color: #2E3192;*/
}

.navbar-toggle, collapsed{
    margin-top: 20px;
    background-color: rgba(46,49,146,0.3);
}

.icon-bar{
    color: #2E3192;
    z-index: 3;
}

.dropdown-menu{
    text-align: center;
}


.mystory, .myservices, .skillset, .mywork, .testimonials, .contact{
    text-align: center;
    margin: 0, auto;
    padding-top: 30px;
    padding-bottom: 100px;
    
}

.mystory h2, .myservices h2, .skillset h2, .mywork h2, .testimonials h2, .contact h2{
    color: #2E3192;
}


.homepage em, .mystory em, .myservices em, .skillset em, .mywork em, .contact em{
    color: #00A651;
    font-style: normal;
}


.homepage{
    text-align: center;
    margin-top: 70px;
    padding-bottom: 200px;
    background: url(images/mountains.jpg) no-repeat;
    
    
}




.growth{
/*    position: relative;*/
    margin-top: 30px;
    margin-bottom: -40px;
    padding-left: 50px;
    padding-right: 50px;
}

.growth img{
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.mystory p{
    display: inline-block;
    text-align: left;
    max-width: 500px;
    vertical-align: middle;
    color: #2E3192;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.carousel-inner, .item img, .item active img{
    width: 100%;
}

.carousel-caption, .carousel-indicators{
    position: absolute;
    top: -26px;
    color: #00A651;
    font-size: 21px;
    text-shadow: none;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #00A651;
}



.thumbnail{
    position: relative; 
}

.modal-body .hero{
    width: 100%;
}

.skillset{
    background-color: rgba(35,31,32,0.2);
    margin: 0 auto;
}

.skillicons > div {
    display: inline-block;
	background-image: url("images/skillicons.png");
	height: 148px;
	width: 121px;
	margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-position: 0 0;
    background-repeat: no-repeat;

/*
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
*/
}
.skillicons > div:hover {
    background-position-y: -157px;
}

.skillicons > div:nth-child(2){
    background-position-x: -126px; 
}

.skillicons > div:nth-child(3){
    background-position-x: -242px; 
}

.skillicons > div:nth-child(4){
    background-position-x: -360px; 
}

.skillicons > div:nth-child(5){
    background-position-x: -480px; 
}

.skillicons > div:nth-child(6){
    background-position-x: -610px; 
}


.logodesign, .photography, .webdesign, .copywriting{
    margin-top: 50px;
}

.mywork h3, .skillset h3{
    color: #00A651;
}

.myservices img{
    display: inline-block;
    
}

.img-thumbnail{
    margin-top: 50px;
}

.write{
    padding-right: 0;
}

.copywriting img, .copywriting p{
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
}

.copywriting p{
    font-size: 18px;
    margin-right: 50px;
    margin-left: 50px;
    color: #00A651;
    text-align: left;
    padding-top: 55px;
}

.copywriting em{
    font-style: italic;
}





.testimonials{
    background-color: rgba(35,31,32,0.2);
    color: #2E3192;
    padding-left: 50px;
    padding-right: 50px;
}

.testimonials p{
    margin: 0 auto;
    max-width: 900px;
    margin-top: 30px;
    font-size: 18px;
/*    margin-left: 315px;*/
    
}

.testimonials h4{
    color: #00A651;
}

.contact{
    padding-bottom: 0;
}

.contact h4{
    color: #2E3192;
    font-size: 20px;
}

.infographic h4{
    margin-top: 0;
    color: #2E3192;
}

.socialbar, .infographic{
    display: inline-block;
}

.facebook, .twitter, .linkedin, .drawing, .pictures, .writing{
    background-image: url(images/facebook60.png);
    display: inline-block;
    height: 55px;
    width: 55px;
    margin: 0 auto;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    webkit-transition: all ease 0.3s;
    moz-transition: all ease 0.3s;
    o-transition: all ease 0.3s;
    ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.facebook:hover, .twitter:hover, .linkedin:hover, .drawing:hover, .pictures:hover, .writing:hover{
    background-image: url(images/facebook60color.png);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
    webkit-transform:rotate(360deg);
    moz-transform:rotate(360deg);
    o-transform:rotate(360deg);
    ms-transform:rotate(360deg);
    transform:rotate(360deg);
}

.twitter{
    background-image: url(images/twitter60.png);
}

.twitter:hover{
    background-image: url(images/twitter60color.png);
}

.linkedin{
    background-image: url(images/linkedin60.png);
}

.linkedin:hover{
    background-image: url(images/linkedin60color.png);
}

.drawing{
    background-image: url(images/drawingbw.png);
    height: 100px;
    width: 100px;
    margin: 20px;
}

.drawing:hover{
    background-image: url(images/drawingcolor.png);
}

.pictures{
    background-image: url(images/photobw.png);
    height: 100px;
    width: 100px;
    margin: 20px;
}

.pictures:hover{
    background-image: url(images/photocolor.png);
}

.writing{
    background-image: url(images/copywritebw.png);
    height: 100px;
    width: 100px;
    margin: 20px;
}

.writing:hover{
    background-image: url(images/copywritecolor.png);
}



@media screen and (min-width: 200px) {
    .homepage{
        background-image: url(images/mountainsmobile.jpg);    }

@media screen and (min-width: 1000px) {
    .homepage{
        background-image: url(images/mountains.jpg);
    }
    
    .nametag{
        width: 500px;
        height: 350px;
        margin-left: 110px;
        padding-top: 60px;
    }
    
    .nametag h2{
        font-size: 40px;
    }
    
    .nametag h1{
        font-size: 56px;
    }
    
    .nametag h3{
        font-size: 30px;
    }

    .homepage{
        height: 500px
    }
    
    .carousel-inner, .item img, .item active img{
        padding-left: 80px;
        padding-right: 80px;
    }
    
    .copywriting p{
        margin-right: 150px;
        margin-left: 0;
    }
    

    .skillset img{
        width: 730px;
        height: 185px:
    }


    .slider{
        margin-top: -30px;
    }
